@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap');

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.section {
    width: 100vw;
    height: 100vh;
    background: whitesmoke;
    position: absolute;
    display: flex;
}

.convert-card {
    margin: auto;
    background: black;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    max-width: 40em;
}

.convert-card__top-half {
    background: linear-gradient(246.26deg, #057859 0%, #11B881 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 4em;
    position: relative;
    border-radius: 1em 1em 0 0;
}

.convert-card__btm-half {
    background: #2C3138;
    border-radius: 0 0 1em 1em;
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.conversion__wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conversion__result-wrap {
    display: flex;
    flex-direction: row;
    align-items: start;
}

#logo {
    position: absolute;
    top: 7%;
    left: 4%
}

#user-input{
    font-family: 'Inter';
    font-weight: 800;
    font-size: 6em;
    line-height: 1;
    text-align: center;
    color: white;
    background: none;
    border: none;
    outline: none;
}

#measurement-title {
    font-family: 'Inter';
    font-weight: 700;
    font-size: 1em;
    color: #DEDEDE;
}

.conversion__title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 1em;
    line-height: 1.25;
    color: white;
}

.conversion__result {
    font-family: 'Inter';
    font-weight: 400;
    font-size: .9em;
    line-height: 1.3;
    color: #D2D2D2;
}
